--
-- PostgreSQL database dump
--

\restrict tl9Gi6ZT4R7gLiOwBWSQALPXAPm6KXtQgsgpBv4ejWFpofjd1yOa3pboG5Dvdry

-- Dumped from database version 17.7
-- Dumped by pg_dump version 17.7

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS "FK_ec240232d5de44495354f66e053";
ALTER TABLE IF EXISTS ONLY public.user_interests DROP CONSTRAINT IF EXISTS "FK_cb0511a8fabd1a2ac9912f7a9aa";
ALTER TABLE IF EXISTS ONLY public.conversations DROP CONSTRAINT IF EXISTS "FK_c768835175b94e16d40b261fb4e";
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS "FK_c4f9a7bd77b489e711277ee5986";
ALTER TABLE IF EXISTS ONLY public.search_histories DROP CONSTRAINT IF EXISTS "FK_bbe77df2112da0baf6bc31de5aa";
ALTER TABLE IF EXISTS ONLY public.post_likes DROP CONSTRAINT IF EXISTS "FK_b40d37469c501092203d285af80";
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS "FK_aadebe51dd06bd1e35bf6504ff5";
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS "FK_a5f23ba85e0f0d183b0a57476a8";
ALTER TABLE IF EXISTS ONLY public.post_likes DROP CONSTRAINT IF EXISTS "FK_9b9a7fc5eeff133cf71b8e06a7b";
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS "FK_9a8a82462cab47c73d25f49261f";
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS "FK_852f266adc5d67c40405c887b49";
ALTER TABLE IF EXISTS ONLY public.post_saves DROP CONSTRAINT IF EXISTS "FK_6a7514ae4838468521daef6bdf9";
ALTER TABLE IF EXISTS ONLY public.category_keywords DROP CONSTRAINT IF EXISTS "FK_699c5414d2eee978356a85eb156";
ALTER TABLE IF EXISTS ONLY public.conversations DROP CONSTRAINT IF EXISTS "FK_69751ccb15197d1ca4827374f9f";
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS "FK_58e67c1ee51b4a91f58be40ed18";
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS "FK_3bc55a7c3f9ed54b520bb5cfe23";
ALTER TABLE IF EXISTS ONLY public.post_saves DROP CONSTRAINT IF EXISTS "FK_355ebd53d93832b425412d27b1b";
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS "FK_22133395bd13b970ccd0c34ab22";
ALTER TABLE IF EXISTS ONLY public.user_interests DROP CONSTRAINT IF EXISTS "FK_1d291265e63ae6c1a50de31682e";
DROP INDEX IF EXISTS public."IDX_ec240232d5de44495354f66e05";
DROP INDEX IF EXISTS public."IDX_c768835175b94e16d40b261fb4";
DROP INDEX IF EXISTS public."IDX_c4f9a7bd77b489e711277ee598";
DROP INDEX IF EXISTS public."IDX_bbe77df2112da0baf6bc31de5a";
DROP INDEX IF EXISTS public."IDX_b40d37469c501092203d285af8";
DROP INDEX IF EXISTS public."IDX_aadebe51dd06bd1e35bf6504ff";
DROP INDEX IF EXISTS public."IDX_a5f23ba85e0f0d183b0a57476a";
DROP INDEX IF EXISTS public."IDX_9b9a7fc5eeff133cf71b8e06a7";
DROP INDEX IF EXISTS public."IDX_9a8a82462cab47c73d25f49261";
DROP INDEX IF EXISTS public."IDX_97672ac88f789774dd47f7c8be";
DROP INDEX IF EXISTS public."IDX_852f266adc5d67c40405c887b4";
DROP INDEX IF EXISTS public."IDX_6a7514ae4838468521daef6bdf";
DROP INDEX IF EXISTS public."IDX_699c5414d2eee978356a85eb15";
DROP INDEX IF EXISTS public."IDX_69751ccb15197d1ca4827374f9";
DROP INDEX IF EXISTS public."IDX_58e67c1ee51b4a91f58be40ed1";
DROP INDEX IF EXISTS public."IDX_3bc55a7c3f9ed54b520bb5cfe2";
DROP INDEX IF EXISTS public."IDX_355ebd53d93832b425412d27b1";
DROP INDEX IF EXISTS public."IDX_2d110e573adc4c39c6efb0e092";
DROP INDEX IF EXISTS public."IDX_24f2cb61db6b7891e79979065d";
DROP INDEX IF EXISTS public."IDX_22133395bd13b970ccd0c34ab2";
DROP INDEX IF EXISTS public."IDX_21f38ac35a0d419781417382da";
DROP INDEX IF EXISTS public."IDX_0fd54ced5cc75f7cb92925dd80";
ALTER TABLE IF EXISTS ONLY public.post_saves DROP CONSTRAINT IF EXISTS "UQ_fd3c2ae6e9792ab36f5c7387dbf";
ALTER TABLE IF EXISTS ONLY public.post_likes DROP CONSTRAINT IF EXISTS "UQ_8f64693922a9e8c4e2605850d0b";
ALTER TABLE IF EXISTS ONLY public.user_interests DROP CONSTRAINT IF EXISTS "PK_f635c6e4d9fb949a9f62c75053b";
ALTER TABLE IF EXISTS ONLY public.notifications DROP CONSTRAINT IF EXISTS "PK_eaedfe19f0f765d26afafa85956";
ALTER TABLE IF EXISTS ONLY public.posts DROP CONSTRAINT IF EXISTS "PK_e55cc433639d0e21c3dbf637bce";
ALTER TABLE IF EXISTS ONLY public.ratings DROP CONSTRAINT IF EXISTS "PK_dc4f636dd0dd5a75e84115a606f";
ALTER TABLE IF EXISTS ONLY public.conversations DROP CONSTRAINT IF EXISTS "PK_c00ef2d6a90778048c6b8150819";
ALTER TABLE IF EXISTS ONLY public.category_keywords DROP CONSTRAINT IF EXISTS "PK_b67f0461e2407b27f0e4ce30d12";
ALTER TABLE IF EXISTS ONLY public.post_saves DROP CONSTRAINT IF EXISTS "PK_b30170d8c6365dd00f89896fd19";
ALTER TABLE IF EXISTS ONLY public.users DROP CONSTRAINT IF EXISTS "PK_96aac72f1574b88752e9fb00089";
ALTER TABLE IF EXISTS ONLY public.post_likes DROP CONSTRAINT IF EXISTS "PK_83497b502e6d6611d626b68927a";
ALTER TABLE IF EXISTS ONLY public.messages DROP CONSTRAINT IF EXISTS "PK_6187089f850b8deeca0232cfeba";
ALTER TABLE IF EXISTS ONLY public.search_histories DROP CONSTRAINT IF EXISTS "PK_55eb6ed37ed8a334b599b3dfe66";
ALTER TABLE IF EXISTS ONLY public.categories DROP CONSTRAINT IF EXISTS "PK_51615bef2cea22812d0dcab6e18";
DROP TABLE IF EXISTS public.users;
DROP TABLE IF EXISTS public.user_interests;
DROP TABLE IF EXISTS public.search_histories;
DROP TABLE IF EXISTS public.ratings;
DROP TABLE IF EXISTS public.posts;
DROP TABLE IF EXISTS public.post_saves;
DROP TABLE IF EXISTS public.post_likes;
DROP TABLE IF EXISTS public.notifications;
DROP TABLE IF EXISTS public.messages;
DROP TABLE IF EXISTS public.conversations;
DROP TABLE IF EXISTS public.category_keywords;
DROP TABLE IF EXISTS public.categories;
DROP TYPE IF EXISTS public.posts_transaction_type_enum;
DROP TYPE IF EXISTS public.posts_status_enum;
DROP TYPE IF EXISTS public.notifications_notification_type_enum;
DROP TYPE IF EXISTS public.messages_message_type_enum;
DROP EXTENSION IF EXISTS "uuid-ossp";
-- *not* dropping schema, since initdb creates it
--
-- Name: public; Type: SCHEMA; Schema: -; Owner: -
--

-- *not* creating schema, since initdb creates it


--
-- Name: SCHEMA public; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON SCHEMA public IS '';


--
-- Name: uuid-ossp; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS "uuid-ossp" WITH SCHEMA public;


--
-- Name: EXTENSION "uuid-ossp"; Type: COMMENT; Schema: -; Owner: -
--

COMMENT ON EXTENSION "uuid-ossp" IS 'generate universally unique identifiers (UUIDs)';


--
-- Name: messages_message_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.messages_message_type_enum AS ENUM (
    'text',
    'image',
    'location'
);


--
-- Name: notifications_notification_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.notifications_notification_type_enum AS ENUM (
    'NEW_POST_IN_INTEREST',
    'NEW_MESSAGE',
    'NEW_RATING'
);


--
-- Name: posts_status_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.posts_status_enum AS ENUM (
    'draft',
    'posted'
);


--
-- Name: posts_transaction_type_enum; Type: TYPE; Schema: public; Owner: -
--

CREATE TYPE public.posts_transaction_type_enum AS ENUM (
    'CHO_MIEN_PHI',
    'DOI_DO',
    'BAN_RE'
);


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.categories (
    category_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category_name character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: category_keywords; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.category_keywords (
    keyword_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    category_id uuid NOT NULL,
    keyword character varying(100) NOT NULL,
    description text,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: conversations; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.conversations (
    conversation_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    initiator_id uuid NOT NULL,
    recipient_id uuid NOT NULL,
    initiator_last_read timestamp without time zone,
    recipient_last_read timestamp without time zone,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    last_message_at timestamp without time zone DEFAULT now() NOT NULL,
    is_locked boolean DEFAULT false NOT NULL
);


--
-- Name: messages; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.messages (
    message_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    conversation_id uuid NOT NULL,
    sender_id uuid NOT NULL,
    content text NOT NULL,
    last_message_content text,
    message_type public.messages_message_type_enum DEFAULT 'text'::public.messages_message_type_enum NOT NULL,
    sent_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: notifications; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.notifications (
    notification_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    post_id uuid,
    category_id uuid,
    notification_type public.notifications_notification_type_enum NOT NULL,
    title character varying(255) NOT NULL,
    content text NOT NULL,
    is_read boolean DEFAULT false NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: post_likes; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post_likes (
    user_id uuid NOT NULL,
    post_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    like_id uuid DEFAULT public.uuid_generate_v4() NOT NULL
);


--
-- Name: post_saves; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.post_saves (
    user_id uuid NOT NULL,
    post_id uuid NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    save_id uuid DEFAULT public.uuid_generate_v4() NOT NULL
);


--
-- Name: posts; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.posts (
    post_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    category_id uuid NOT NULL,
    title character varying(255) NOT NULL,
    description text NOT NULL,
    price numeric(10,2) DEFAULT '0'::numeric NOT NULL,
    location character varying(255),
    is_available boolean DEFAULT true NOT NULL,
    transaction_type public.posts_transaction_type_enum DEFAULT 'BAN_RE'::public.posts_transaction_type_enum NOT NULL,
    view_count integer DEFAULT 0 NOT NULL,
    status public.posts_status_enum DEFAULT 'posted'::public.posts_status_enum NOT NULL,
    image_urls json,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: ratings; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.ratings (
    rating_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    rater_id uuid NOT NULL,
    rated_user_id uuid NOT NULL,
    rating_score integer NOT NULL,
    comment text,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    proof_image_urls json
);


--
-- Name: search_histories; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.search_histories (
    id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    keyword character varying(255) NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: user_interests; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.user_interests (
    interest_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    user_id uuid NOT NULL,
    category_id uuid NOT NULL,
    keywords text,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Name: users; Type: TABLE; Schema: public; Owner: -
--

CREATE TABLE public.users (
    user_id uuid DEFAULT public.uuid_generate_v4() NOT NULL,
    firebase_uid character varying(128) NOT NULL,
    email character varying(255) NOT NULL,
    full_name character varying(100) NOT NULL,
    phone_number character varying(20),
    avatar_url text,
    school_name character varying(255),
    dormitory character varying(255),
    date_of_birth date,
    academic_year integer,
    reputation_score integer DEFAULT 0 NOT NULL,
    total_votes_up integer DEFAULT 0 NOT NULL,
    total_votes_down integer DEFAULT 0 NOT NULL,
    is_active boolean DEFAULT true NOT NULL,
    created_at timestamp without time zone DEFAULT now() NOT NULL,
    updated_at timestamp without time zone DEFAULT now() NOT NULL
);


--
-- Data for Name: categories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: category_keywords; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: conversations; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: messages; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: notifications; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: post_likes; Type: TABLE DATA; Schema: public; Owner: -
--

COPY public.post_likes (user_id, post_id, created_at, like_id) FROM stdin;
2b0e3f98-8d2a-4f5e-9c80-0f5f6c3d9c41	eb0ff50a-e3f6-4e73-85bc-6da0122af0b8	2025-12-23 19:44:25.515411	3e4f6d7a-9f9c-4fce-af2e-a5e7d90f3f03
2b0e3f98-8d2a-4f5e-9c80-0f5f6c3d9c41	a1186643-0be4-4b33-b3ad-d54803277a73	2025-12-23 19:58:02.964743	06d7cab6-ddb8-49e3-a6fb-2c5dbe1aa3d7
\.


--
-- Data for Name: post_saves; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: posts; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: ratings; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: search_histories; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: user_interests; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Data for Name: users; Type: TABLE DATA; Schema: public; Owner: -
--



--
-- Name: categories PK_51615bef2cea22812d0dcab6e18; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT "PK_51615bef2cea22812d0dcab6e18" PRIMARY KEY (category_id);


--
-- Name: search_histories PK_55eb6ed37ed8a334b599b3dfe66; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.search_histories
    ADD CONSTRAINT "PK_55eb6ed37ed8a334b599b3dfe66" PRIMARY KEY (id);


--
-- Name: messages PK_6187089f850b8deeca0232cfeba; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "PK_6187089f850b8deeca0232cfeba" PRIMARY KEY (message_id);


--
-- Name: post_likes PK_83497b502e6d6611d626b68927a; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT "PK_83497b502e6d6611d626b68927a" PRIMARY KEY (like_id);


--
-- Name: users PK_96aac72f1574b88752e9fb00089; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.users
    ADD CONSTRAINT "PK_96aac72f1574b88752e9fb00089" PRIMARY KEY (user_id);


--
-- Name: post_saves PK_b30170d8c6365dd00f89896fd19; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_saves
    ADD CONSTRAINT "PK_b30170d8c6365dd00f89896fd19" PRIMARY KEY (save_id);


--
-- Name: category_keywords PK_b67f0461e2407b27f0e4ce30d12; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_keywords
    ADD CONSTRAINT "PK_b67f0461e2407b27f0e4ce30d12" PRIMARY KEY (keyword_id);


--
-- Name: conversations PK_c00ef2d6a90778048c6b8150819; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "PK_c00ef2d6a90778048c6b8150819" PRIMARY KEY (conversation_id);


--
-- Name: ratings PK_dc4f636dd0dd5a75e84115a606f; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT "PK_dc4f636dd0dd5a75e84115a606f" PRIMARY KEY (rating_id);


--
-- Name: posts PK_e55cc433639d0e21c3dbf637bce; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT "PK_e55cc433639d0e21c3dbf637bce" PRIMARY KEY (post_id);


--
-- Name: notifications PK_eaedfe19f0f765d26afafa85956; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "PK_eaedfe19f0f765d26afafa85956" PRIMARY KEY (notification_id);


--
-- Name: user_interests PK_f635c6e4d9fb949a9f62c75053b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_interests
    ADD CONSTRAINT "PK_f635c6e4d9fb949a9f62c75053b" PRIMARY KEY (interest_id);


--
-- Name: post_likes UQ_8f64693922a9e8c4e2605850d0b; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT "UQ_8f64693922a9e8c4e2605850d0b" UNIQUE (user_id, post_id);


--
-- Name: post_saves UQ_fd3c2ae6e9792ab36f5c7387dbf; Type: CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_saves
    ADD CONSTRAINT "UQ_fd3c2ae6e9792ab36f5c7387dbf" UNIQUE (user_id, post_id);


--
-- Name: IDX_0fd54ced5cc75f7cb92925dd80; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_0fd54ced5cc75f7cb92925dd80" ON public.users USING btree (firebase_uid);


--
-- Name: IDX_21f38ac35a0d419781417382da; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_21f38ac35a0d419781417382da" ON public.category_keywords USING btree (category_id, keyword);


--
-- Name: IDX_22133395bd13b970ccd0c34ab2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_22133395bd13b970ccd0c34ab2" ON public.messages USING btree (sender_id);


--
-- Name: IDX_24f2cb61db6b7891e79979065d; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_24f2cb61db6b7891e79979065d" ON public.conversations USING btree (initiator_id, recipient_id);


--
-- Name: IDX_2d110e573adc4c39c6efb0e092; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_2d110e573adc4c39c6efb0e092" ON public.user_interests USING btree (user_id, category_id);


--
-- Name: IDX_355ebd53d93832b425412d27b1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_355ebd53d93832b425412d27b1" ON public.post_saves USING btree (post_id);


--
-- Name: IDX_3bc55a7c3f9ed54b520bb5cfe2; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_3bc55a7c3f9ed54b520bb5cfe2" ON public.messages USING btree (conversation_id);


--
-- Name: IDX_58e67c1ee51b4a91f58be40ed1; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_58e67c1ee51b4a91f58be40ed1" ON public.ratings USING btree (rated_user_id);


--
-- Name: IDX_69751ccb15197d1ca4827374f9; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_69751ccb15197d1ca4827374f9" ON public.conversations USING btree (recipient_id);


--
-- Name: IDX_699c5414d2eee978356a85eb15; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_699c5414d2eee978356a85eb15" ON public.category_keywords USING btree (category_id);


--
-- Name: IDX_6a7514ae4838468521daef6bdf; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_6a7514ae4838468521daef6bdf" ON public.post_saves USING btree (user_id);


--
-- Name: IDX_852f266adc5d67c40405c887b4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_852f266adc5d67c40405c887b4" ON public.posts USING btree (category_id);


--
-- Name: IDX_97672ac88f789774dd47f7c8be; Type: INDEX; Schema: public; Owner: -
--

CREATE UNIQUE INDEX "IDX_97672ac88f789774dd47f7c8be" ON public.users USING btree (email);


--
-- Name: IDX_9a8a82462cab47c73d25f49261; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_9a8a82462cab47c73d25f49261" ON public.notifications USING btree (user_id);


--
-- Name: IDX_9b9a7fc5eeff133cf71b8e06a7; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_9b9a7fc5eeff133cf71b8e06a7" ON public.post_likes USING btree (user_id);


--
-- Name: IDX_a5f23ba85e0f0d183b0a57476a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_a5f23ba85e0f0d183b0a57476a" ON public.ratings USING btree (rater_id);


--
-- Name: IDX_aadebe51dd06bd1e35bf6504ff; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_aadebe51dd06bd1e35bf6504ff" ON public.notifications USING btree (category_id);


--
-- Name: IDX_b40d37469c501092203d285af8; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_b40d37469c501092203d285af8" ON public.post_likes USING btree (post_id);


--
-- Name: IDX_bbe77df2112da0baf6bc31de5a; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_bbe77df2112da0baf6bc31de5a" ON public.search_histories USING btree (user_id);


--
-- Name: IDX_c4f9a7bd77b489e711277ee598; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c4f9a7bd77b489e711277ee598" ON public.posts USING btree (user_id);


--
-- Name: IDX_c768835175b94e16d40b261fb4; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_c768835175b94e16d40b261fb4" ON public.conversations USING btree (initiator_id);


--
-- Name: IDX_ec240232d5de44495354f66e05; Type: INDEX; Schema: public; Owner: -
--

CREATE INDEX "IDX_ec240232d5de44495354f66e05" ON public.notifications USING btree (post_id);


--
-- Name: user_interests FK_1d291265e63ae6c1a50de31682e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_interests
    ADD CONSTRAINT "FK_1d291265e63ae6c1a50de31682e" FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON DELETE CASCADE;


--
-- Name: messages FK_22133395bd13b970ccd0c34ab22; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "FK_22133395bd13b970ccd0c34ab22" FOREIGN KEY (sender_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: post_saves FK_355ebd53d93832b425412d27b1b; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_saves
    ADD CONSTRAINT "FK_355ebd53d93832b425412d27b1b" FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- Name: messages FK_3bc55a7c3f9ed54b520bb5cfe23; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.messages
    ADD CONSTRAINT "FK_3bc55a7c3f9ed54b520bb5cfe23" FOREIGN KEY (conversation_id) REFERENCES public.conversations(conversation_id) ON DELETE CASCADE;


--
-- Name: ratings FK_58e67c1ee51b4a91f58be40ed18; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT "FK_58e67c1ee51b4a91f58be40ed18" FOREIGN KEY (rated_user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: conversations FK_69751ccb15197d1ca4827374f9f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "FK_69751ccb15197d1ca4827374f9f" FOREIGN KEY (recipient_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: category_keywords FK_699c5414d2eee978356a85eb156; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.category_keywords
    ADD CONSTRAINT "FK_699c5414d2eee978356a85eb156" FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON DELETE CASCADE;


--
-- Name: post_saves FK_6a7514ae4838468521daef6bdf9; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_saves
    ADD CONSTRAINT "FK_6a7514ae4838468521daef6bdf9" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: posts FK_852f266adc5d67c40405c887b49; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT "FK_852f266adc5d67c40405c887b49" FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON DELETE SET NULL;


--
-- Name: notifications FK_9a8a82462cab47c73d25f49261f; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_9a8a82462cab47c73d25f49261f" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: post_likes FK_9b9a7fc5eeff133cf71b8e06a7b; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT "FK_9b9a7fc5eeff133cf71b8e06a7b" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: ratings FK_a5f23ba85e0f0d183b0a57476a8; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.ratings
    ADD CONSTRAINT "FK_a5f23ba85e0f0d183b0a57476a8" FOREIGN KEY (rater_id) REFERENCES public.users(user_id) ON DELETE SET NULL;


--
-- Name: notifications FK_aadebe51dd06bd1e35bf6504ff5; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_aadebe51dd06bd1e35bf6504ff5" FOREIGN KEY (category_id) REFERENCES public.categories(category_id) ON DELETE CASCADE;


--
-- Name: post_likes FK_b40d37469c501092203d285af80; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.post_likes
    ADD CONSTRAINT "FK_b40d37469c501092203d285af80" FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- Name: search_histories FK_bbe77df2112da0baf6bc31de5aa; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.search_histories
    ADD CONSTRAINT "FK_bbe77df2112da0baf6bc31de5aa" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: posts FK_c4f9a7bd77b489e711277ee5986; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.posts
    ADD CONSTRAINT "FK_c4f9a7bd77b489e711277ee5986" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: conversations FK_c768835175b94e16d40b261fb4e; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.conversations
    ADD CONSTRAINT "FK_c768835175b94e16d40b261fb4e" FOREIGN KEY (initiator_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: user_interests FK_cb0511a8fabd1a2ac9912f7a9aa; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.user_interests
    ADD CONSTRAINT "FK_cb0511a8fabd1a2ac9912f7a9aa" FOREIGN KEY (user_id) REFERENCES public.users(user_id) ON DELETE CASCADE;


--
-- Name: notifications FK_ec240232d5de44495354f66e053; Type: FK CONSTRAINT; Schema: public; Owner: -
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT "FK_ec240232d5de44495354f66e053" FOREIGN KEY (post_id) REFERENCES public.posts(post_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict tl9Gi6ZT4R7gLiOwBWSQALPXAPm6KXtQgsgpBv4ejWFpofjd1yOa3pboG5Dvdry

