name: Node.JS CI/CD with Docker on Render

on:
  push:
    branches: [main]

jobs:
  build-push-deploy:
    name: Build Docker & Deploy
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/share-in:latest
          # Cache giúp build lần sau nhanh hơn
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Trigger Render Deploy
        if: success() # Chỉ chạy nếu bước trên thành công
        run: |
          curl -X GET "${{ secrets.RENDER_DEPLOY_HOOK_URL }}"